<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
        <div class="row actions">
            <div class="col-lg-12">
                <p/>
            </div>
        </div>
        <div class="row list-browse">
            <div class="col-md-3">
                <div data-template="templates:include" data-template-path="templates/filter-form.html"/>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="accordion accordion-flush" id="browse_search_accordion">
                        <div id="browse_item" class="accordion-item" data-template="app:list-works">
                            <div class="accordion-header" id="heading_browse">
                                <button class="accordion-button btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_browse" aria-expanded="true" aria-controls="collapse_browse">
                                        <h6 class="pull-left" style="margin-left: 25px">Browsing
                                            <span class="result-count">
                                                <span id="hit-count" data-template="app:hit-count" data-template-key="all"/>
                                            </span>
                                            documents.
                                        </h6>
                                </button>
                            </div>
                            <div id="collapse_browse" class="accordion-collapse collapse show" aria-labelledby="heading_browse" data-bs-parent="#browse_search_accordion">
                                <div class="accordion-body col-md-12 list-works well well-sm">
                                    <ul class="pagination" data-template="app:paginate" data-template-per-page="20" data-template-max-pages="5" data-template-min-hits="21" data-template-key="all"/>
                                    <ul class="documents" data-template="app:browse" data-template-per-page="20">
                                        <li>
                                            <div data-template="app:work-header"/>
                                            <div data-template="app:work-defects"/>
                                        </li>
                                        <li>
                                            <div class="btn-group toolbar">
                                                <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="pdf" title="Download as PDF">
                                                    <span class="hidden-xs">PDF</span>
                                                </a>

                                                <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="epub" title="Download as EPUB ebook">
                                                    <span class="hidden-xs">ePub</span>
                                                </a>

                                                <a class="btn btn-default hidden-xs download-link" data-template="app:download-link" data-template-type="tei" title="Download TEI XML">
                                                   <span class="hidden-xs">XML</span>
                                                </a>
                                            </div>
                                            <br class="clear"/>
                                        </li>
                                        <li class="empty">There are no documents matching the current filter criteria.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="search_item" class="accordion-item">
                            <div class="accordion-header" id="heading_search">
                                <button class="accordion-button btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_search" aria-expanded="true" aria-controls="collapse_search">
                                        <h6 class="pull-left" style="margin-left: 25px">Search Results<span id="result_pattern"/>
                                    </h6>
                                </button>
                            </div>
                            <div id="collapse_search" class="accordion-collapse collapse" aria-labelledby="heading_search" data-bs-parent="#browse_search_accordion">
                                <div class="accordion-body col-md-12 list-works well well-sm">
                                    <eplib-page class="{loaded}">
                                        <eplib-blacklab-results id="kwic" target="../works" per-page="{perPage}" pattern="{pattern}" sort="{sort}" filter="{filter}" path="data">
                                        </eplib-blacklab-results>
                                    </eplib-page>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <eplib-blacklab-search-form/>
            </div>
        </div>
    </div>
    <script type="module">
        jQuery(document).ready(function() {
            jQuery('.nav-toggle').click(function(){
                //get collapse content selector
                var collapse_content_selector = $(this).attr('href');

                // Show or hide More/Less collapse content.
                var toggle_switch = jQuery(this);
                jQuery(collapse_content_selector).toggle(function(){
                    if (jQuery(this).css('display') === 'none') {
                        toggle_switch.html('unfold_more');
                        toggle_switch.attr('title', 'Show more information');
                    }
                    else {
                        toggle_switch.html('unfold_less');
                        toggle_switch.attr('title', 'Show less information');
                    }
                });
            });
        });
    </script>
</div>