<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="wrapper transparent">
            <div class="page-header">
                <h1>Library Application Release History</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div>
                    <p>
                        Version 1.29.8. July 6, 2024.
                    </p>
                    <ul>
                        <li>Re-implemented Review page to use BlackLab for contexts</li>
                        <li>Allow annotation client to work with documents in shadow DOM</li>
                        <li>Allow annotation panel to grow vertically</li>
                        <li>Routine dependency updates</li>
                    </ul>
                    <p>
                        Version 1.29.7. June 2, 2024.
                    </p>
                    <ul>
                        <li>Added word count rubrics</li>
                        <li>Upgraded dependencies, notably OpenSeadragon, tei-publisher-lib, and annotation client.</li>
                        <li>Reimplemented registration form, converting from Polymer to Lit</li>
                        <li>Removed all direct dependencies on Polymer</li>
                        <li>Switched to new NU-hosted BlackLab server for search</li>
                    </ul>
                    <p>
                        Version 1.29.6. September 23, 2023.
                    </p>
                    <ul>
                        <li>New login form component</li>
                        <li>Miscellaneous code clean-up</li>
                    </ul>
                    <p>
                        Version 1.29.5. September 1, 2023.
                    </p>
                    <ul>
                        <li>Routine dependency updates</li>
                        <li>Fixed whitespace handling in HTML downloads</li>
                        <li>Now preserve space in CQL searches</li>
                        <li>Better handling of errors from BlackLab search</li>
                        <li>Added stripped XML as a download option</li>
                        <li>Reimplemented page slider as a web component</li>
                        <li>Fixed broken enable/disable annotations option</li>
                        <li>Annotations are now off by default for touch screens</li>
                    </ul>
                    <p>
                        Version 1.29.4. February 19, 2023.
                    </p>
                    <ul>
                        <li>Routine dependency updates</li>
                        <li>Layout improvements for large screens</li>
                        <li>Minor bug fixes and code clean-up</li>
                        <li>Documentation updates and additions</li>
                    </ul>
                    <p>
                        Version 1.29.3. September 17, 2022.
                    </p>
                    <ul>
                        <li>Documentation updates to reflect inclusion of Evans and ECCO</li>
                        <li>Hide EEBO link when no EEBO images available</li>
                        <li>Minor dependency updates and documentation fixes</li>
                        <li>Remove MOBI download links -- ePub can now be e-mailed to Kindles</li>
                    </ul>
                    <p>
                        Version 1.29.2. May 28, 2022.
                    </p>
                    <ul>
                        <li>Replace eXist-based search with BlackLab search</li>
                        <li>N.B. Search in coordination with the text filter is temporarily unavailable.</li>
                    </ul>
                    <p>
                        Version 1.29.1. May 9, 2022.
                    </p>
                    <ul>
                        <li>Navigation improvements for BlackLab results</li>
                        <li>Upgraded OpenSeadragon IIIF viewer</li>
                        <li>Clean-up of unused code</li>
                    </ul>
                    <p>
                        Version 1.29.0. April 30, 2022.
                    </p>
                    <ul>
                        <li>Upgrade to Boostrap 5</li>
                    </ul>
                    <p>
                        Version 1.28.3. April 1, 2022.
                    </p>
                    <ul>
                        <li>Further refinements and fixes to experimental BlackLab search page</li>
                        <li>Handle footnotes and marginal notes for display purposes</li>
                    </ul>
                    <p>
                        Version 1.28.2. February 13, 2022.
                    </p>
                    <ul>
                        <li>Refinements to experimental BlackLab search page</li>
                    </ul>
                    <p>
                        Version 1.28.1. December 4, 2021.
                    </p>
                    <ul>
                        <li>Move EEBO link to top toolbar</li>
                        <li>Upgrade to eXist 5.3.0</li>
                        <li>Add experimental BlackLab search page</li>
                    </ul>
                    <p>
                        Version 1.27.2. November 29, 2020.
                    </p>
                    <ul>
                        <li>Fix bug where note references made entire paragraphs superscript</li>
                        <li>Landing page navigation and content updates</li>
                        <li>Build EEBO links with new Proquest GOID rather than VID</li>
                        <li>Switch to externally-generated e-book downloads</li>
                        <li>Add MOBI as a download format for people with Kindles</li>
                    </ul>
                    <p>
                        Version 1.27.1. August 16, 2020.
                    </p>
                    <ul>
                        <li>Faster page turning by avoiding the annotation service when fetching XML fragments</li>
                    </ul>
                    <p>
                        Version 1.27.0. August 14, 2020.
                    </p>
                    <ul>
                        <li>Polymer 3 upgrade for annotation features as well as login and registration pages</li>
                    </ul>
                    <p>
                        Version 1.26.1. June 12, 2020.
                    </p>
                    <ul>
                        <li>Prevent search without text filter</li>
                        <li>Condense speaker/speech display</li>
                        <li>Miscellaneous layout and display changes</li>
                    </ul>
                    <p>
                        Version 1.26.0. November 2, 2019.
                    </p>
                    <ul>
                        <li>Redo style to match the rest of earlyprint.org</li>
                    </ul>
                    <p>
                        Version 1.25.8. October 24, 2019.
                    </p>
                    <ul>
                        <li>Upgrade multiple Javascript libraries to patch vulnerabilities</li>
                        <li>Yet another login page workaround</li>
                        <li>Preparations for eXist 5.0</li>
                    </ul>
                    <p>
                        Version 1.25.7. July 20, 2019.
                    </p>
                    <ul>
                        <li>Added a faster sorting mechanism for the browse page</li>
                        <li>Consolidated some options under the options menu</li>
                        <li>Added a link to the EEBO page image where possible</li>
                        <li>Made text selectable (and thus copyable) when annotations are disabled</li>
                        <li>Moved from unmaintained tei-simple library to tei-publisher-lib</li>
                    </ul>
                    <p>
                    Version 1.25.6. December 2, 2018.
                    </p>
                    <ul>
                        <li>New capability to review annotations in context</li>
                        <li>Revised login page with better error messages</li>
                    </ul>
                    <p>
                    Version 1.25.5. July 21, 2018.
                    </p>
                    <ul>
                        <li>Use friendly URLs based on EEBO page identifiers</li>
                        <li>Use publication year in metadata when creation year is unavailable</li>
                        <li>Miscellaneous internal bug fixes and code clean-up</li>
                        <li>More robust metadata generation for the More button</li>
                        <li>More PDF and ePub fixes</li>
                        <li>Add facsimile screenshot capability</li>
                    </ul>
                    <p>
                    Version 1.25.4. April 28, 2018.
                    </p>
                    <ul>
                        <li>Temporary patches for login problems</li>
                        <li>Add gap search feature courtesy of Doug Knox</li>
                        <li>Fix space handling and preserve highlighting of search results</li>
                        <li>Leave space between line groups (e.g., stanzas) and other style improvements</li>
                        <li>Add Evans as a corpus choice</li>
                        <li>Speed up table of contents generation, especially for large texts</li>
                        <li>Remove extraneous "mark" tagging when annotating a highlighted search result</li>
                        <li>Other bug fixes and performance improvements</li>
                    </ul>
                    <p>
                    Version 1.25.3. March 16, 2018.
                    </p>
                    <ul>
                        <li>Rewrite ePub and PDF exports in XSL for performance</li>
                        <li>Make download links honor standard/orginal spelling choice</li>
                        <li>Add close button to annotation panel</li>
                        <li>Include schema processing instruction in downloaded XML files for easier validation</li>
                        <li>Avoid link behavior in references that seldom have links</li>
                        <li>Allow sorting of the works list</li>
                        <li>Filter and sort by word and work counts and include them under More button</li>
                        <li>Include witness note indicating page image source under More button</li>
                    </ul>
                    <p>
                    Version 1.25.2. December 15, 2017.
                    </p>
                    <ul>
                        <li>Stay on current page when logging in</li>
                        <li>Better navigation after searching or logging in</li>
                    </ul>
                    <p>
                    Version 1.25.1. November 25, 2017.
                    </p>
                    <ul>
                        <li>New browse filter allowing multiple criteria at once</li>
                        <li>Update versions pf Bootstrap, PolymerJS, and OpenSeaDragon</li>
                        <li>Fix display of textual notes and cast list</li>
                        <li>Documentation updates</li>
                        <li>Fix role retrieval bug</li>
                        <li>Improve speed of ePub generation</li>
                        <li>Better accommodate fast paging</li>
                    </ul>
                    <p>
                    Version 1.25.0. September 28, 2017.
                    </p>
                    <ul>
                        <li>New logo and color scheme for EarlyPrint branding</li>
                        <li>Documentation updates</li>
                        <li>Bug fixes and custom style for page slider</li>
                        <li>Bug fixes to PDF generation</li>
                    </ul>
                    <p>
                    Version 1.24.12. August 26, 2017.
                    </p>
                    <ul>
                        <li>Add a page navigation slider</li>
                        <li>Truncate very long titles</li>
                        <li>Display image attributions when we have them</li>
                    </ul>
                    <p>
                    Version 1.24.11. June 24, 2017.
                    </p>
                    <ul>
                        <li>Improvement to logo presentation in footer</li>
                        <li>Changes to 'More' button in browse view</li>
                        <li>Internal rearrangement of texts and annotations to handle larger numbers of texts</li>
                    </ul>
                    <p>
                    Version 1.24.10. May 30, 2017.
                    </p>
                    <ul>
                        <li>New method to handle whitespace behind the scenes (no 'c' elements)</li>
                    </ul>
                    <p>
                    Version 1.24.9. May 6, 2017.
                    </p>
                    <ul>
                        <li>New method to toggle modern/original spellings</li>
                        <li>Annotation client changes to handle regular spellings as attributes</li>
                        <li>Fix PDF generation.</li>
                        <li>More layout and design tweaks</li>
                    </ul>
                    <p>
                    Version 1.24.8. April 8, 2017.
                    </p>
                    <ul>
                        <li>Slim down browse view to make more texts visible at once</li>
                        <li>Add more logos to the bottom bar</li>
                        <li>Make text and image panes the same height and make the text pane scrollable</li>
                        <li>Put morphology fields on annotation panel into a collapsible expander</li>
                    </ul>
                    <p>
                    Version 1.24.7. March 15, 2017.
                    </p>
                    <ul>
                        <li>First public beta of the new shc.earlyprint.org site</li>
                        <li>Numerous documentation updates</li>
                        <li>Assorted bug fixes and interface tweaks</li>
                        <li>Annotation panel is now draggable</li>
                    </ul>
                    <p>
                    Version 1.24.3. January 16, 2017.
                    </p>
                    <ul>
                        <li>Includes new annotation module from eXist Solutions GmbH</li>
                    </ul>
                    <p>
                    Version 0.3. June 24, 2016.
                    </p>
                    <ul>
                        <li>Simplify the word IDs.</li>
                        <li>Correct some of the morphological adornments.</li>
                    </ul>
                    <p>
                    Version 0.2. May 1, 2016.
                    </p>
                    <ul>
                        <li>Enable access to XML versions of texts.</li>
                        <li>Generate epubs from texts.</li>
                        <li>Fix filtering by grade letters.</li>
                        <li>Enhance text search facility.</li>
                    </ul>
                    <p>
                    Version 0.1. April 11, 2016.
                    </p>
                    <ul>
                    <li>Initial prerelease of web site.</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>