<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
        <div class="row actions">
            <div class="col-lg-12">
                <p/>
            </div>
        </div>
        <div class="row list-browse">
            <div class="col-md-3">
                 <div data-template="templates:include" data-template-path="templates/filter-form.html"/>
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <div id="content-inner" class="container-fluid well well-sm">
                        <div class="row">
                            <span style="font-size: 10px;">
                                <span>Legend: </span>
                                <span style="background-color: #fff7a9">pending</span>
                                <span style="background-color: #f2ba05">autocorrect</span>
                                <span style="background-color: #bbd5b5">accepted</span>
                                <span style="background-color: salmon">rejected</span>
                            </span>
                        </div>
                        <!-- Fake the annotation pane toggle into working -->
                        <span hidden="true" class="swap btn"/>
                        <eplib-review/>
                    </div>
                </div>
            </div>
            <div id="annotation-filter" class="col-md-3">
                <eplib-annotation-filter-form/>
            </div>
        </div>
    </div>
</div>