<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
        <div class="row actions-row">
            <div class="col-md-12">
                <div class="btn-toolbar actions">
                    <div class="btn-group narrow" role="group">
                        <a class="btn btn-default" data-bs-toggle="offcanvas" aria-controls="sidebar" href="#sidebar" tabindex="0">
                            <i class="material-icons">view_list</i>
                        </a>
                        <a data-bs-template-direction="previous" class="nav-prev page-nav btn btn-default" href="#" tabindex="0">
                            <i class="material-icons">navigate_before</i>
                        </a>
                        <a data-bs-template-direction="next" class="nav-next page-nav btn btn-default" href="#" tabindex="0">
                            <i class="material-icons">navigate_next</i>
                        </a>
                        <a class="btn btn-default" href="#" id="eplib-zoom-in">
                            <i class="material-icons">zoom_in</i>
                        </a>
                        <a class="btn btn-default" href="#" id="eplib-zoom-out">
                            <i class="material-icons">zoom_out</i>
                        </a>                    
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="downloadMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="resources/images/download.png"/>
                            Download <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="downloadMenu">
                            <li>
                                <a class="download-link dropdown-item" data-template="app:download-link" data-template-type="pdf" title="Download as PDF">PDF</a>
                            </li>
                            <li>
                                <a class="download-link dropdown-item" data-template="app:download-link" data-template-type="epub" title="Download as EPUB ebook">EPUB</a>
                            </li>
                            <li>
                                <a class="download-link dropdown-item" data-template="app:download-link" data-template-type="plain" title="Download single page html" target="_blank">HTML</a>
                            </li>
                            <li>
                                <a class="download-link dropdown-item" data-template="app:download-link" data-template-type="tei" title="Download TEI XML source">XML</a>
                            </li>
                            <li>
                                <a class="download-link dropdown-item" data-template="app:download-link" data-template-type="stripped" title="Download TEI XML source with word-level tags stripped">XML (Stripped)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="optionsMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">settings</i>
                            Options <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="optionsMenu">
                            <li>
                                <a class="dropdown-item" href="#" id="toggle-view-reg">Show standard spellings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="toggle-view-wordcount">Hide word counts</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" id="toggle-view-annotations">Disable annotations</a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="switch-view" data-bs-template="pages:switch-view">Switch to division view</a>
                            </li>
                            <li>
                                <a href="#" class="viewimage on dropdown-item">Hide images</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="#" class="swap btn btn-default" title="view/hide annotations" data-bs-toggle="button">
                            <img src="resources/images/comment-text-outline.png"/>
                            <span class="hidden-xs">Annotations</span>
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="#" id="eebo-link" target="_blank">
                            <i class="material-icons">vertical_split</i>
                            <span class="hidden-xs">EEBO</span>
                        </a>
                    </div>
                    <eplib-highlight class="kwic-controls" style="display: none;"></eplib-highlight>
                </div>
            </div>
        </div>
    <div id="main-container" data-template="pages:load" class="container-fluid">
        <div class="row" data-template="pages:load-view">
            <div id="sidebar" class="col-md-3 offcanvas offcanvas-start" tabindex="-1">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title">Contents</h3>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"/>
                </div>
                <div class="offcanvas-body" data-template="pages:table-of-contents"/>
            </div>
            <div id="right-panel" class="col-md-12 col-xs-12">
                <div class="container-fluid">
                    <div class="row doc-area" data-template="pages:navigation">
                        <div class="col-sm-6">
                            <div id="content-inner">
                                <div id="content-container" class="well">
                                    <div class="page-header col-title">
                                        <h3 data-template="pages:navigation-title"/>
                                    </div>
                                    <annotatable-document panel="annotation-panel" data-template="pages:add-document-metadata" highlight="highlight">
                                        <div slot="document">
                                            <div data-template="pages:view" class="content"/>
                                        </div>
                                    </annotatable-document>
                                </div>
                            </div>
                        </div>
                       <div class="col-sm-6">
                                <div class="col-md-12 col-lg-12 col-title">
                                    <h6 id="witness-note" data-template="pages:header-witness-note"/>
                                </div>
                            <div id="facsimile" class="col-sm-6"/>
                            <aside id="annotations" class="visually-hidden" draggable="true">
                                <annotation-panel id="annotation-panel" server="/exist/apps/annotation-service/annotation">
                                    <div slot="annotations"/>
                                </annotation-panel>
                            </aside>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <eplib-page-slider></eplib-page-slider>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>